node_modules
vendor
.git
.env
.env.*
!.env.example
!.env.docker.example
docker-compose.local.yml
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
